@use '../abstracts/mixins' as *;

.main-wrapper {
    margin-top: 16px;
    max-width: 336px;
    @include space;
    
    @include tablette-only {
        max-width: 1440px;
    }

    @include desktop-only {
        margin-top: 71px;
    }

}