@use '../abstracts/mixins' as *;

.author {
    display: flex;
    gap: 10px;
    margin-bottom: 16px;

    h2 {
        font-size: 12px;
        display: flex;
        flex-direction: column;
        color: #FF6060;
        text-align: right;

        @include desktop-only {
            font-size: 18px;
        }
    }

    img {
        height: 32px;
        width: 32px;
        border-radius: 50%;

        @include desktop-only {
            height: 64px;
            width: 64px;
        }
    }
}