@use '../abstracts/mixins' as *;

.banner {
    position: relative;
    margin-bottom: 22px;
    @include desktop-only{
        margin-bottom: 99px;
    }

    h1 {
        position: absolute;
        left: 16px;
        top: 31px;
        color: white;
        z-index: 1;
    }

    img {
        border-radius: 10px;
        width: 100%;
        filter: brightness(.7);
        @include desktop-only {
            height: 223px;
        }
    }
    
}