@use '../abstracts/mixins' as *;

.container {
    display: flex;
    flex-direction: column;
    gap: 22px;
    margin-bottom: 22px;

    @include desktop-only{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        row-gap: 50px;
        column-gap: 60px;
        background-color:#F6F6F6;
        border-radius: 25px;
        padding: 56px 50px;
        margin-bottom: 50px;
    }
    
}

