.carousel {
    position: relative;
    max-width: 335px;
   
    
    img {
        width: 100%;
        height: 225px;
        object-fit: cover;
        object-position: center;
    }

    .chevron-right {
        position: absolute;
        height: 24px;
        width: 24px;
        top: 50%;
        right: 20px;
    }

    .chevron-left {
        position: absolute;
        top: 50%;
        left: 20px;
        height: 24px;
        width: 24px;
    }
    
}