@use '../abstracts/mixins' as *;

.tag {
    list-style: none;
    color: white;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    font-size: 10px;

    @include desktop-only {
        font-size: 14px;
    }

    li {
        background: #FF6060;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        height: 18px;
        min-width: 84px;
        padding: 0 15px;

        @include desktop-only {
            height: 25px;
            border-radius: 10px;
            min-width: 115px;
        }
    }
}