@use '../abstracts/mixins' as *;

header {
    @include space;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    img {
        max-width: 145px;
        height: 47px;
        @include desktop-only { 
            max-width: 210px;
            height: 87px;
        }
    }

    .currentPage {
        border-bottom: 1px solid #FF6060;
    }

    nav a {
        color: #FF6060;
        text-decoration: none;
        margin-left: 10px;
        text-transform: uppercase;
        @include desktop-only {
            margin-left: 57px;
            text-transform: none;
        }
    }  
     
}